*{
  padding: 0;
  margin: 0;
}

body {
    font-family: "Poppins", sans-serif !important;
    background-color: #ebf2ff;
}
  
p {
    font-family: "Poppins", sans-serif !important;
}

.task__cards {
  cursor: pointer;
}

